doc
config/config.yml

config/config.yml

config/directory.yml

config/directory.yml

config/directory.yml

config/directory.yml

config/config.yml

tests/sakai-cle/test/reports/TEST-TestCreateLessons.xml

tests/sakai-cle/test/reports/transform-results.xsl

tests/sakai-cle/test/reports/TEST-CreateUsers.xml

config/config.yml

config/directory.yml

tests/sakai-cle/test/reports/TEST-TestGroups.xml

tests/sakai-cle/test/reports/TEST-TestCreatingCourseSite.xml

tests/sakai-cle/test/reports/TEST-AddSiteParticipants.xml

config/config.yml

config/directory.yml

tests/sakai-cle/test/reports/TEST-TestCreateLessons.4.xml

tests/sakai-cle/test/reports/TEST-TestCreateLessons.3.xml

tests/sakai-cle/test/reports/TEST-TestCreateLessons.2.xml

tests/sakai-cle/test/reports/TEST-TestCreateLessons.1.xml

tests/sakai-cle/test/reports/TEST-TestCreateLessons.0.xml

tests/sakai-cle/test/reports/TEST-AddPublicResources.xml

tests/sakai-cle/test/reports/TEST-AddPublicResources.0.xml
